<% title "Edit Job" %>

<% if current_user && current_user.role?('admin') %>
<div class="left" style="clear:left;">
	<%= render :partial => 'form' %>
</div>
<% else %>
<div class="job_info_left">
	<h2><%= t('job.step2') %></h2>
	<h3><%= t('job.edit_job_insert') %></h3>

	<div class="left" style="clear:left;">
		<%= render :partial => 'form' %>
	</div>
</div>
<% end %>



