

#jsddm
{	margin: 0;
	padding: 0
	}

	#jsddm li
	{	
		float: left;
		list-style: none;
		padding: 10px;
		color:#333;
		font: 13px Tahoma, Arial;
		font-weight:bold;
		}

		#jsddm li a
		{	
			display: block;
			text-decoration: none;
			white-space: nowrap;
			background:transparent; 
			color:#333;
			font-weight:normal;
			}

			#jsddm li a:hover
			{	
				color:#333;
				font-weight:bold;
			}

			#jsddm li ul
			{	margin: 0;
				padding: 0;
				position: absolute;
				visibility: hidden;}

				#jsddm li ul li
				{	float: none;
					display: inline;
					padding-:10px;
					}

					#jsddm li ul li a
					{	width: auto;
						background:transparent; }

						#jsddm li ul li a:hover
						{	}