

#jsddm
{	margin: 0;
	padding: 0
	}

	#jsddm li
	{	
		float: left;
		list-style: none;
		font: 13px Tahoma, Arial
		}

		#jsddm li a
		{	
			display: block;
			padding: 10px;
			text-decoration: none;
			white-space: nowrap;
			background:transparent; 
			color:#333;
			}

			#jsddm li a:hover
			{	
				color:#333;
				font-weight:bold;
				text-decoration: underline;
			}

			#jsddm li ul
			{	margin: 0;
				padding: 0;
				position: absolute;
				visibility: hidden;
				border-top: 1px solid white}

				#jsddm li ul li
				{	float: none;
					display: inline}

					#jsddm li ul li a
					{	width: auto;
						background:#F8F8F8; }

						#jsddm li ul li a:hover
						{	}