<% title "User List" %>

<% form_tag user_search_url, :id  => 'user_search', :method  => 'get' do |f| %>
<p>
	<%= text_field_tag('login_like', '', :class  => 'tb', :autocomplete => "off")  %>
	<%= submit_tag t('common.search'), :id  => 'search_button' %>
</p>
<% end %>

<div id="users">

<%= render  'users' %>


</div>
