<form>
	<div class="spanButtonPlaceholderDiv" style="border: solid 1px #7FAAFF; background-color: #C5D9FF; float:right; padding: 2px; margin-right:10px; height:40px; width: 450px;">
		<span id="spanButtonPlaceholder"></span>
	</div>
</form>