<ul>
	<li>
		<%= link_to_unless_current t('group.manage_tags'), '/tags?taggable_type=Group' %>
	</li>
	<li>
		<%= link_to_unless_current t('post.manage_tags'), '/tags?taggable_type=Post' %>
	</li>
</ul>
