<ul>
	<li>
		<%= link_to_unless_current t("user.my_account"), edit_user_path(:current) %>
	</li>
	<li>
		<%= link_to_unless_current t("user.my_profile_img"), new_profile_image_path %>
	</li>
	<li>
		<%= link_to_unless_current t("user.my_personals"), :controller => "user_commons", :action => "edit", :id => current_user.id %>
	</li>
</ul>