	<ul>
		<li>
			<%= link_to t("user.my_profile"), user_path(:current) %>
		</li>
		<li>
			<%= link_to t("user.my_account"), edit_user_path(:current) %>
		</li>
		<li>
			<%= link_to t("user.profile_image"), new_profile_image_path %>
		</li>
		<li>
			<%= link_to t("user.my_personals"), :controller => "user_commons", :action => "edit", :id => current_user.id %>
		</li>
	</ul>