<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Galleriffic | Thumbnail rollover effects and slideshow crossfades</title>
		<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/shadowbox/shadowbox.css">
		<script type="text/javascript" src="/shadowbox/shadowbox.js"></script>

		<%= yield :head %>
	</head>
	<body>
		<div id="user_nav">
			<%= render :partial => '/layouts/main_nav' %>
		</div>
		<div id="container">
			<%= yield %>
		</div>
	</body>
</html>